* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

.container {
  width: 100vw;
  height: 100vh;
  background-color: #ff5757;
  padding: 0 8%;
  position: relative;
}

.logo {
  width: 120px;
  padding: 20px 0;
  cursor: pointer;
}

.content {
  top: 50%;
  position: absolute;
  transform: translateY(-50%);
  color: #000;
}

.content h1 {
  font-size: 64px;
  font-weight: 600;
}

.content h1 span {
  color: antiquewhite;
}

.content button {
  background: transparent;
  border: 2px solid #000;
  outline: none;
  padding: 12px 25px;
  color: #000;
}

.launch-time {
  display: flex;
}

.launch-time div {
  flex-basis: 100px;
}

.launch-time div p {
  font-size: 60px;
  margin-bottom: -14px;
}
